.single-image {
  cursor: zoom-in;
  display: block;
  margin: 2rem auto;
  height: 75vh;
}

.enlarged {
  cursor: zoom-out;
  height: auto;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .single-image {
    height: auto;
    width: 100%;
  }
}
