.dropdown-item-link,
.dropdown-item-link {
  color: #713600;
}
.dropdown-item-link:hover,
.dropdown-item-link:active {
  text-decoration: none;
  color: #120d06;
}

.page-comp-link-item {
  padding-left: 20px;
  font-weight: 600;
  color: #8ec9ff;
}
.page-comp-link-item:hover {
  padding-left: 19px;
  background-color: rgba(255, 255, 255, 0.15);
  border-left: 1px solid #fff;
}
